@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
  list-style-type: none;
}

body {
  background-image: url(../multimedia/Imagenes/Fondos/FONDO\ PRINCIPAL.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

nav {
  padding: 2rem;
  margin: 2rem;
}

.nav-link:hover {
  border-bottom: 1px solid greenyellow;
  font-weight: bold;
  color: greenyellow;
}

.footer {
  color: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}
.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.footer .container p {
  font-size: 14px;
  margin-bottom: 10px;
}
.footer .container ul.menu-redes {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .container ul.menu-redes li.menu-redes-link {
  margin-right: 10px;
}
.footer .container ul.menu-redes li.menu-redes-link a {
  display: block;
}
.footer .container ul.menu-redes li.menu-redes-link a img {
  width: 40px;
  height: auto;
}

.hero-section {
  height: 100vh;
  margin-top: 100px;
  margin-bottom: 100px;
}
.hero-section h1 {
  text-align: center;
  color: white;
  font-family: "paybAck";
  text-transform: none;
  text-decoration: none;
  font-size: 9rem;
  font-weight: normal;
}

.contenedor-sections-inicio {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contenedor-sections-inicio .contenedor-section1 {
  background-image: url(../multimedia/Imagenes/Fondos/FONDO\ PRINCIPAL.jpg);
  background-size: cover;
  color: red;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid white;
  box-shadow: 2px 5px 15px white;
  margin: 2rem;
}
.contenedor-sections-inicio .contenedor-section1 .que-es-nemesisfest {
  margin: 2rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
.contenedor-sections-inicio .contenedor-section1 .texto1 {
  color: white;
  font-size: medium;
  font-family: "roboto";
  padding-top: 1rem;
  margin-top: 1rem;
}
.contenedor-sections-inicio .contenedor-section1 .titulotexto1 {
  font-family: "roboto";
  text-shadow: 10px 10px 10px 50px white;
  border-bottom: 1px dotted white;
  padding-bottom: 10px;
}
.contenedor-sections-inicio .contenedor-section2 {
  background-image: url(../multimedia/Imagenes/Fondos/fondo\ desgastado\ negro.jpg);
  background-size: cover;
  color: red;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid white;
  box-shadow: 2px 5px 15px white;
  margin: 2rem;
}
.contenedor-sections-inicio .contenedor-section2 .un-poco-de-historia {
  margin: 2rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
.contenedor-sections-inicio .contenedor-section2 .texto2 {
  color: white;
  font-size: medium;
  font-family: "roboto";
  padding-top: 1rem;
  margin-top: 1rem;
}
.contenedor-sections-inicio .contenedor-section2 .titulotexto2 {
  font-family: "roboto";
  text-shadow: 10px 10px 10px 50px white;
  border-bottom: 1px dotted white;
  padding-bottom: 10px;
}
.contenedor-sections-inicio .contenedor-section3 {
  background-image: url(../multimedia/Imagenes/Fondos/fondo\ desgastado\ negro.jpg);
  background-size: cover;
  color: red;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid white;
  box-shadow: 2px 5px 15px white;
  margin: 2rem;
}
.contenedor-sections-inicio .contenedor-section3 .nuestra-mision {
  margin: 2rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
.contenedor-sections-inicio .contenedor-section3 .texto3 {
  color: white;
  font-size: medium;
  font-family: "roboto";
  padding-top: 1rem;
  margin-top: 1rem;
}
.contenedor-sections-inicio .contenedor-section3 .titulotexto3 {
  font-family: "roboto";
  text-shadow: 10px 10px 10px 50px white;
  border-bottom: 1px dotted white;
  padding-bottom: 10px;
}
.contenedor-sections-inicio .contenedor-section4 {
  background-image: url(../multimedia/Imagenes/Fondos/fondo\ desgastado\ negro.jpg);
  background-size: cover;
  color: red;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid white;
  box-shadow: 2px 5px 15px white;
  margin: 2rem;
}
.contenedor-sections-inicio .contenedor-section4 .nemesis-fest__nemesis-crew {
  margin: 2rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
.contenedor-sections-inicio .contenedor-section4 .texto4 {
  color: white;
  font-size: medium;
  font-family: "roboto";
  padding-top: 1rem;
  margin-top: 1rem;
}
.contenedor-sections-inicio .contenedor-section4 .titulotexto4 {
  font-family: "roboto";
  text-shadow: 10px 10px 10px 50px white;
  border-bottom: 1px dotted white;
  padding-bottom: 10px;
}
.contenedor-sections-inicio .contenedor-section5 {
  background-image: url(../multimedia/Imagenes/Fondos/fondo\ desgastado\ negro.jpg);
  background-size: cover;
  color: red;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid white;
  box-shadow: 2px 5px 15px white;
  margin: 2rem;
}
.contenedor-sections-inicio .contenedor-section5 .donde-cuando {
  margin: 2rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
.contenedor-sections-inicio .contenedor-section5 .texto5 {
  color: white;
  font-size: medium;
  font-family: "roboto";
  padding-top: 1rem;
  margin-top: 1rem;
}
.contenedor-sections-inicio .contenedor-section5 .titulotexto5 {
  font-family: "roboto";
  text-shadow: 10px 10px 10px 50px white;
  border-bottom: 1px dotted white;
  padding-bottom: 10px;
}

#galeriats .col-lg-4 {
  padding: 20px;
}

#galeriats img {
  width: 100%;
}

#galeriats h1 {
  color: white;
}

#galeriapk .col-lg-4 {
  padding: 20px;
}

#galeriapk img {
  width: 100%;
}

#galeriapk h2 {
  color: white;
}

.contenedor-img-gal {
  transition: all 0.5s;
}

.contenedor-img-gal:hover {
  transform: scale(1.1) translateY(-40px);
}

#promos {
  height: 100vh;
}

#promos .promo-whisky h1 {
  color: white;
}

#promos img {
  width: 100%;
}

.main-tickets {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 7rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
.main-tickets h1 {
  color: white;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.main-tickets #entradas {
  align-items: center;
  justify-content: center;
}
.main-tickets #entradas h5 {
  color: black;
  font-weight: bold;
}

.main-eventos {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  padding: 3rem;
  gap: 10rem;
}
.main-eventos .contenedor-nf-thesub {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.main-eventos .contenedor-nf-thesub .video-nf-thesub video {
  height: 60rem;
  border-radius: 1.5rem;
  box-shadow: 2px 5px 15px rgb(255, 255, 255);
}
.main-eventos .contenedor-nf-thesub .nf-thesub {
  display: flex;
  text-transform: none;
}
.main-eventos .contenedor-nf-thesub .nf-thesub .texto-nf-thesub {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: start;
  font-size: large;
  font-family: "roboto";
  color: white;
}
.main-eventos .contenedor-nf-thesub .nf-thesub .texto-nf-thesub a {
  text-decoration: none;
  color: white;
}
.main-eventos .contenedor-nf-thesub .nf-thesub .texto-nf-thesub a:hover {
  font-weight: bold;
  color: greenyellow;
}
.main-eventos .contenedor-nf-thesub .nf-thesub .texto-nf-thesub h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: bold;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px black;
  color: rgb(230, 15, 15);
}
.main-eventos .contenedor-nf-thesub .nf-thesub .texto-nf-thesub h4 {
  padding-bottom: 1rem;
}
.main-eventos .contenedor-nf-thesub .nf-thesub .texto-nf-thesub p {
  margin-top: 1.5rem;
}
.main-eventos .contenedor-nf-thesub .nf-thesub .texto-nf-thesub h5 {
  padding-top: 2rem;
}
.main-eventos .contenedor-nf-thesub .nf-thesub .texto-nf-thesub .strong {
  color: red;
}
.main-eventos .contenedor-nf-poker {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.main-eventos .contenedor-nf-poker .video-nf-poker video {
  height: 60rem;
  border-radius: 1.5rem;
  box-shadow: 2px 5px 15px rgb(255, 255, 255);
}
.main-eventos .contenedor-nf-poker .nf-poker {
  display: flex;
  text-transform: none;
}
.main-eventos .contenedor-nf-poker .nf-poker .texto-nf-poker {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: start;
  font-size: large;
  font-family: "roboto";
  color: white;
}
.main-eventos .contenedor-nf-poker .nf-poker .texto-nf-poker a {
  text-decoration: none;
  color: white;
}
.main-eventos .contenedor-nf-poker .nf-poker .texto-nf-poker a:hover {
  font-weight: bold;
  color: greenyellow;
}
.main-eventos .contenedor-nf-poker .nf-poker .texto-nf-poker h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: bold;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px black;
  color: rgb(230, 15, 15);
}
.main-eventos .contenedor-nf-poker .nf-poker .texto-nf-poker h4 {
  padding-bottom: 1rem;
}
.main-eventos .contenedor-nf-poker .nf-poker .texto-nf-poker p {
  margin-top: 1.5rem;
}
.main-eventos .contenedor-nf-poker .nf-poker .texto-nf-poker h5 {
  padding-top: 2rem;
}
.main-eventos .contenedor-nf-poker .nf-poker .texto-nf-poker .strong {
  color: red;
}
.main-eventos .ncrew {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: rgba(104, 114, 114, 0.26);
  padding: 1rem;
}
.main-eventos .ncrew p {
  text-align: justify;
  font-size: large;
  font-family: "roboto";
  color: white;
}
.main-eventos .ncrew h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 800;
  font-style: bold;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px black;
  color: rgb(230, 15, 15);
  margin-bottom: 15px;
}
.main-eventos .ncrew h5 {
  margin-top: 50px;
}
.main-eventos .ncrew a {
  text-decoration: none;
  color: white;
}
.main-eventos .ncrew a:hover {
  font-weight: bold;
  color: greenyellow;
}

.main-contacto {
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
.main-contacto .formulario {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-image: url(../multimedia/Imagenes/Fondos/fondo\ desgastado\ negro.jpg);
  background-size: cover;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 30px 5px rgb(214, 2, 2);
  justify-content: center;
  padding: 2rem;
}
.main-contacto .formulario h2 {
  font-size: 40px;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  margin: 2rem;
  color: white;
  text-shadow: 5px 5px 10px black;
}
.main-contacto .formulario input {
  font-size: 1rem;
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: rgba(240, 248, 255, 0.575);
  border-radius: 1rem;
  border: none;
}
.main-contacto .formulario textarea {
  font-size: 1rem;
  width: 100%;
  border: none;
  font-family: sans-serif;
  padding: 1rem;
  margin-top: 20px;
  background-color: rgba(240, 248, 255, 0.575);
  border-radius: 1rem;
  border: none;
}
.main-contacto .formulario #enviar {
  background-color: gray;
  border: none;
  cursor: pointer;
}

.tracking-in-contract-bck {
  animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.61, 0.355, 1) 2s both;
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.scale-in-center {
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.kenburns-bottom {
  animation: kenburns-bottom 5s ease-out both;
}

@keyframes kenburns-bottom {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 84%;
  }
  100% {
    transform: scale(1.25) translateY(15px);
    transform-origin: bottom;
  }
}
.scale-in-center-img1 {
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-in-center-img2 {
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

.scale-in-center-img3 {
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.2s both;
}

.scale-in-center-img4 {
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.4s both;
}

.scale-in-center-img5 {
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.6s both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  .nemesis-fest {
    font-size: 7rem;
  }
  .video-nf-thesub video {
    max-height: 45rem;
  }
  .video-nf-poker video {
    max-height: 45rem;
  }
}
@media (max-width: 700px) {
  .contenedor-nf-thesub {
    display: flex;
    flex-direction: column;
  }
  .video-nf-thesub video {
    max-height: 35rem;
  }
  .contenedor-nf-poker {
    display: flex;
    flex-direction: column;
  }
  .video-nf-poker video {
    max-height: 35rem;
  }
}
@media (max-width: 600px) {
  .hero-section h1 {
    font-size: 5rem;
  }
}/*# sourceMappingURL=styles.css.map */