body {
    background-image: url(../multimedia/Imagenes/Fondos/FONDO\ PRINCIPAL.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%; 

}