.hero-section {
    height: 100vh;
    margin-top: 100px;
    margin-bottom: 100px;

    h1 { 
        text-align: center;
        color: white;
        font-family: "paybAck";
        text-transform:none;
        text-decoration: none;
        font-size: 9rem;
        font-weight: normal;
     
     }
}